.navigation {
  &__checkbox {
    content: '';
  }

  &__button {
    content: '';
  }

  &__background {
    content: '';
  }

  &__nav {
    content: '';
  }

  &__item {
    content: '';
  }

  &__link {
    content: '';
  }
}
